#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card-header {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1rem;
  }
}
